@use '../helpers' as *;

.button {
  @include flex-center(true);
  padding: rem(22);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: rem(8);

  @include hover {
    background-color: var(--color-orange-65);
  }

  @include laptop {
    padding: rem(19);

    & svg {
      width: rem(12);
      height: rem(9);
    }
  }

  &__control {
    display: flex;
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(16);
    }
  }
}