@use '../helpers' as *;

.contacts {
  display: grid;
  row-gap: rem(24);

  @include laptop {
    row-gap: rem(20);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    @include laptop {
      column-gap: rem(8);
    }
  }

  &__icon {
    &::after {
      @include laptop {
        --size: #{rem(20)};
      }
    }
  }
}