@use '../helpers' as *;

.gallery {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: fluid(345, 197);
//  margin-bottom: fluid(200, 80);

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    padding: fluid(200, 120) fluid(50, 30) fluid(50, 30);
    background-color: var(--color-light);
    border: var(--border);
    border-radius: rem(12);
    box-shadow: var(--box-shadow-dark);

    @include mobile {
      row-gap: rem(20);
//      max-width: rem(358);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      align-items: center;
      flex-direction: column-reverse;
      row-gap: rem(20);
    }
  }

  &__carousel {
    transform: translateY(-130%);
    position: absolute;
    display: flex;
    align-self: center;
    column-gap: rem(40);
    padding-inline: fluid(50, 30);

    @include mobile {
      transform: translateY(-107%);
    }
  }

  &__image {
    min-width: 0;
    border: var(--border);
    border-radius: rem(12);


    @include laptop {
      border-radius: rem(10);
    }

    @include tablet {
      max-width: rem(270);

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__description {

    @include mobile {
      text-align: center;
    }
  }
}