@use '../helpers' as *;

.grid {
  display: grid;

  &--2-columns {
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &--3-columns {
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

