@use '../helpers' as *;

.learn {
  &__list {
    gap: rem(50);

    @include laptop {
      gap: rem(40);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(50, 30);
    padding: fluid(50, 30);
    border: var(--border);
    background-color: var(--color-light);
    border-radius: rem(12);
    box-shadow: var(--box-shadow-dark);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 25%;
      translate: -50% 0;
      height: calc(
        fluid(304, 191) + #{fluid(50, 30)} + #{fluid(50, 30) / 2}
      );
      background-color: var(--color-orange-95);
      border: var(--border);
      border-top: none;
      border-radius: 0 0 rem(12) rem(12);
      z-index: 1;

      @include laptop {
        border-radius: 0 0 rem(10) rem(10);
      }
    }

    @include laptop {
      border-radius: rem(10);
    }

    @include mobile {
      max-width: rem(500);
    }
  }

  &__photo {
    border: var(--border);
    border-radius: rem(12);
    z-index: 2;
    overflow: hidden;

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__image {
    object-fit: cover;
    width: fluid(398, 298);
    height: fluid(304, 191);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);
    align-items: center;
  }

  &__description {
    text-align: center;
  }
}