@use '../helpers' as *;

.members {
  &__list {
    gap: rem(50);

    @include laptop {
      gap: rem(40);
    }
  }

  &__item {
    display: grid;
    row-gap: rem(30);
    padding: fluid(50, 30);
    background-color: var(--color-light);
    border: var(--border);
    border-radius: rem(12);
    box-shadow: var(--box-shadow-dark);

    @include laptop {
      max-width: rem(500);
      row-gap: rem(24);
      border-radius: rem(10);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: fluid(16, 10);
  }

  &__photo {
    background-color: var(--color-orange-97);
    border-radius: fluid(12, 8);
    border: var(--border);
  }

  &__image {
    width: fluid(100, 60);
    aspect-ratio: 1;
  }

  &__name {
    font-family: var(--font-family-accent);
    font-size: fluid(30, 20);
    font-weight: 800;
    line-height: 1.5;
  }

  &__link {
    width: rem(56);
    aspect-ratio: 1;
    padding: rem(16);
    border: var(--border);
    border-radius: rem(8);
    background-color: var(--color-orange-90);

    @include hover {
      border-color: var(--color-orange-65);
    }

    @include laptop {
      width: rem(48);
      padding: rem(14);
      border-radius: rem(6);
    }
  }

  &__body {
    display: grid;
    row-gap: fluid(20, 12);
    padding: fluid(30, 20);
    border: var(--border);
    border-radius: rem(12);
    background-color: var(--color-orange-97);

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;

    @include laptop {
      font-size: rem(20);
    }
  }
}