@use '../helpers' as *;

.metrics {
  padding: rem(24) rem(50);
  background-color: var(--color-orange-95);
  border: var(--border);
  border-radius: rem(12);
  box-shadow: var(--box-shadow-light);

  @include laptop {
    padding: rem(20) rem(40);
    border-radius: rem(10);
  }

  @include mobile {
    padding: rem(40);
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: rem(13);

    @include laptop {
      column-gap: rem(10);
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    @include laptop {
      width: 100%;
    }

    @include mobile {
      &:not(:last-child) {
        padding-bottom: rem(19);
        border-bottom: var(--border);
      }

      &:not(:first-child) {
        padding-top: rem(21);
      }
    }
  }

  &__value {
    font-size: rem(44);
    font-weight: 800;

    @include laptop {
      font-size: rem(34);
    }
  }
}