@use '../helpers' as *;

.mission {
  column-gap: rem(60);
  row-gap: rem(30);
  grid-auto-rows: 1fr;

  @include laptop {
    column-gap: rem(40);
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 40);
    padding: fluid(60, 40);
    background-color: var(--color-light);
    border: var(--border);
    box-shadow: var(--box-shadow-dark);
    border-radius: rem(12);
    max-width: rem(500);

    @include mobile {
      border-radius: rem(10);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    width: rem(80);

    @include laptop {
      width: rem(60);
    }

    @include mobile {
      width: rem(50);
    }
  }

  &__description {
  }
}