@use '../helpers' as *;

.process {
  &__list {
    column-gap: rem(50);
    row-gap: fluid(100, 53);

    @include laptop {
      column-gap: rem(40);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: rem(77);
    align-items: flex-start;

    @include laptop {
      row-gap: rem(51);
    }

    @include mobile {
      align-items: center;
    }
  }

  &__number {
    position: relative;
    font-size: fluid(60, 40);
    padding: rem(14) rem(30);
    background-color: var(--color-light);
    border: var(--border);
    border-radius: rem(12);
    box-shadow: var(--box-shadow-dark);

    @include laptop {
      padding: rem(10) rem(24);
      border-radius: rem(10);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 85%;
      left: 50%;
      translate: -50% 0;
      background-image: url("../../icons/decorate-center-bottom.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 14);
    flex: 1;
    padding: fluid(50, 30);
    background-color: var(--color-light);
    border: var(--border);
    border-radius: rem(12);
    box-shadow: var(--box-shadow-dark);

    @include laptop {
      border-radius: rem(10);
    }

    @include mobile {
      max-width: rem(358);
    }
  }
}