@use '../helpers' as *;

section {
  margin-bottom: fluid(200, 80);
}

section:first-child {
  padding-top: rem(80);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(108, 78);

  &__header {
    &-info {
      text-align: center;
      padding-inline: rem(300);

      @include laptop {
        padding-inline: rem(200);
      }

      @include tablet {
        padding: 0;
      }
    }
  }

  &__quote {
    display: inline-flex;
    align-items: center;
    padding: rem(10) rem(20);
    border: var(--border);
    font-size: fluid(18, 16);
    border-radius: rem(8);
    background-color: var(--color-light);

    &:not(:last-child) {
      margin-bottom: fluid(19, 10);
    }

    @include laptop {
      padding: rem(8) rem(14);
      border-radius: rem(6);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: fluid(19, 10);
    }
  }
}