@use '../helpers' as *;

.testimonials {
  display: flex;
  column-gap: rem(50);
  align-items: center;
  transition: transform 0.5s ease-in-out;

  @include laptop {
    column-gap: rem(40);
  }

  @include mobile {
    flex-wrap: wrap;
    row-gap: rem(40);
    column-gap: rem(20);
  }

  &__button {
    @include mobile {
      order: 2;
      flex: 0 0 rem(48);

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }

  &__list {
    display: flex;
    column-gap: inherit;
    justify-content: center;

    @include mobile {
      order: 1;
      width: 100%;
    }
  }

  &__item {
    text-align: center;
//    max-width: rem(425);
//    flex-shrink: 0;
    padding: fluid(50, 30);
    border: var(--border);
    box-shadow: var(--box-shadow-dark);
    border-radius: rem(12);
    background-color: var(--color-light);

    @include tablet-above {
      width: 50%;
    }

    @include laptop {
      border-radius: rem(10);
      max-width: rem(500);

      &:nth-child(3) {
        display: none;
      }
    }

    @include tablet {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__wrapper {
    display: inline-flex;
    background-color: var(--color-orange-97);
    border: var(--border);
    padding: rem(12);
    border-radius: 50%;
    margin-bottom: rem(12);

    @include laptop {
      margin-bottom: rem(10);
    }
  }

  &__person-name {
    font-size: fluid(24, 20);
    font-weight: 600;
    margin-bottom: fluid(30, 20);
  }

  &__rating-view {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(5);
    margin-bottom: fluid(30, 20);

    @include laptop {
      column-gap: rem(4);
    }
  }

  &__star {
    background: url("../../icons/star-yellow.svg") center / contain no-repeat;
    width: rem(24);
    height: rem(24);
  }
}