@font-face {
  font-family: 'Outfit'; src: url("../fonts/Outfit-Medium.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit'; src: url("../fonts/Outfit-Regular.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit'; src: url("../fonts/Outfit-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway'; src: url("../fonts/Raleway-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit'; src: url("../fonts/Raleway-ExtraBold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}