@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-size: fluid(20, 16);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-gray-20);
  background-color: var(--color-orange-97);

  @include laptop {
    font-size: rem(16);
  }
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  line-height: 1.3;
  color: var(--color-gray-10);
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
}

h1, .h1 {
  @include fluid-text(54, 30);

  font-weight: 800;
}

h2, .h2 {
  @include fluid-text(58, 38);
}

h3, .h3 {
  @include fluid-text(48, 28);
}

h4, .h4 {
  @include fluid-text(40, 26);
}

h5, .h5 {
  @include fluid-text(30, 24);
}

h6, .h6 {
  @include fluid-text(28, 22);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-orange-65);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-gray-10);
  outline-offset: rem(10);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}