@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/icon';
@use 'blocks/button';
@use 'blocks/logo';
@use 'blocks/header';
@use 'blocks/burger-button';
@use 'blocks/footer';
@use 'blocks/contacts';
@use 'blocks/hero';
@use 'blocks/metrics';
@use 'blocks/section';
@use 'blocks/list';
@use 'blocks/testimonials';

.header,
main > *:not(:last-child),
.footer {
  display: none !important;
}
